.about {
    font-size: 1.5rem;
    /* padding: 0 1rem; */
}

.about_links:hover {
    background-color: #EB008B;
    color: white;
    text-decoration: none;
}

@media all and (max-width: 1023px) {
    .about {
        padding: 0;
        font-size: 1.25rem;
    }
}