* {
    /* outline: solid 1px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* p, a {
    font-weight: 300;
} */

.topdivider {
    display: none;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,0.9);
}

body {
    background-color: #E6E6E6;
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#container_margin {
    margin: 0 32px;
}

#container {
    max-width: 1280px;
    min-height: 640px;
    background-color: white;
    margin: 32px auto;
    border-radius: 32px;
    padding: 0 32px;
    display: flex;
}

#navlogo img {
    width: 150px;
    display: block;
    margin: 0 auto 1rem;
}

#navlogo p {
    font-size: 2rem;
    font-weight: 800;
}

#menucheckbox {
    position: absolute;
    height: 4.5rem;
    width: 4.5rem;
    right: 0;
    top: 0;
    opacity: 0.5;
    display: none;
}

#navbar {
    /* width: 13rem; */
    padding: 32px 32px 0 0;
    text-align: center;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.navlist {
    padding: 1rem;
}

.navlist a {
    display: block;
    padding: 1.25rem;
    font-size: 1.5rem;
}

.navlist a:hover {
    color: #EB008B;
}

.navlist ul {
    padding: 0;
}

.navsocials {
    /* position: absolute; */
    padding: 1rem;
    /* width: 13rem; */
    /* margin-left: -16px; */
}

.navsocials a {
    padding: 0.25rem;
}

.navsocials img {
    width: 2rem;
}

.copyright {
    margin-top: 0.75rem;
    color: #808080;
}

article {
    flex: 1;
    width: 100%;
    padding: 32px 0;
}

.nav_active {
    text-decoration: underline;
}

.disclaimer {
    width: 100%;
    display: flex;
    /* display: none; */
    justify-content: center;
    padding-bottom: 1.5rem;
    text-align: center;
}

.disclaimer p {
    padding: 1rem;
    outline: 2px solid;
    outline-offset: -2px;
    border-radius: 1rem;
    font-size: 2rem;
}

footer {
    display: none;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    color: #808080;

}

footer p {
    padding: 8px;
}

.footersocials {
    display: flex;
    align-items: center;
    margin: 4px;

}

.footersocials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footersocials img {
    width: 2rem;
    height: auto;
    padding: 0;
    margin: 4px;
}

@media all and (max-width: 1279px) {
    #container_margin {
    margin: 0;
    }
    #container {
        margin: 0;
        border-radius: 0;
    }
    body {
        background-color: white;
    }
}

@media all and (max-width: 1023px) {
    #container {
        /* flex-direction: column; */
        display: block;
        padding: 4.5rem 0 0;
        overflow-x: hidden;

    }
    #navbar {
        width: 100vw;
        /* left: 0;
        right: 0; */
        top: 0;
        height: 4.5rem;
        padding: 0;
        text-align: left;
        display: flex;
        background-color: white;
        z-index: 1;
        position: fixed;
        justify-content: space-between;
    }
    #navlogo {
        display: flex;
        padding-left: 16px;
        /* height: 4.5rem; */
        height: 100%;
    }
    #navlogo img {
        width: 2.5rem;
        margin: 0 0.5rem 0 0;
    }
    #navlogo p {
        margin: auto 0;
        font-size: 1.5rem;
    }
    .navlist {
    padding: 0;
    /* margin: auto 0 auto auto; */
    height: 100%;
    }
    .navlist ul {
        display: flex;
        /* height: 3.5rem; */
        height: 100%;
        padding: 0 8px;
    }
    .navlist a {
        /* height: 3.5rem; */
        font-size: 1.25rem;
        padding: 0 8px;
        /* line-height: 3.5rem; */
        align-content: center;
    }
    article {
        /* padding: 16px 0 0; */
        padding: 0;
    }
    article>* {
        padding: 0 16px;
    }
    .navsocials {
        display: none;
    }
    .topdivider {
        /* display: block; */
        /* margin: 3.5rem 16px 0; */
        margin: 0 16px;
        border: 1px solid #E6E6E6;
    }
    footer {
        display: flex;
    }
}

@media all and (max-width: 767px) {
    #navbar {
        flex-direction: column;
    }
    .navtop {
        justify-content: space-between;
        display: flex;
        height: 100%;
        flex-shrink: 0;
        z-index: 2;
        background-color: white;
    }
    
    .hamburger {
        position: relative;
        width: 3.5rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }

    #menucheckbox:checked + .navtop .hamburger_box .top-bar {
        transform: translateY(8px) rotate(-45deg);
    }

    #menucheckbox:checked + .navtop .hamburger_box .middle-bar {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    #menucheckbox:checked + .navtop .hamburger_box .bottom-bar {
        transform: translateY(-8px) rotate(45deg);
    }

    .bar {
        background-color: #EB008B;
        height: 0.25rem;
        width: 1.5rem;
        position: absolute;
        transition: transform 0.2s cubic-bezier(.29, -0.52, 1, 1.88), opacity 0.2s ease;
    }

    .top-bar {
        margin-bottom: 1rem;
    }

    .middle-bar {
    }

    .bottom-bar {
        margin-top: 1rem;
    }

    .navlist {
        width: 100%;
        background-color: white;
        padding-bottom: 1rem;
        pointer-events: none;
        height: auto;
        transition: 0.1s ease;
        position: relative;
        transform: translateY(-100%);
        transform-origin: top;
    }

    #menucheckbox:checked ~ .navlist {
        transform: translateY(0);
        pointer-events: auto;
    }

    .navlist ul {
        display: flex;
        flex-direction: column;
    }
    .navlist a {
        text-align: center;
        padding: 1rem 0 2rem;
    }

    footer {
        flex-direction: column;
    }
}

@media all and (max-width: 249px) {
    #navlogo p {
        display: none;
    }
}