* {
    /* outline: solid 1px red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topdivider {
    display: none;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,0.9);
}

body {
    background-color: #E6E6E6;
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

#container_margin {
    margin: 0 32px;
}

#container {
    max-width: 1280px;
    min-height: 640px;
    background-color: white;
    margin: 32px auto;
    border-radius: 32px;
    padding: 0 32px;
    display: flex;
}

#navlogo img {
    width: 150px;
    display: block;
    margin: 0 auto 1rem;
}

#navlogo p {
    font-size: 2rem;
    font-weight: 800;
}

#menucheckbox {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    right: 0;
    top: 0;
    opacity: 0.5;
    display: none;
}

#navbar {
    width: 13rem;
    padding: 32px 32px 0 0;
    text-align: center;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.navlist {
    padding: 1rem;
}

.navlist a {
    display: block;
    padding: 1.25rem;
    font-size: 1.5rem;
}

.navlist a:hover {
    color: #EB008B;
}

.navlist ul {
    padding: 0;
}

.navsocials {
    position: absolute;
    /* outline: 2px solid #E6E6E6; */
    padding: 1rem;
    /* border-radius: 1rem; */
    width: 13rem;
    margin-left: -16px;
}

.navsocials a {
    padding: 0.25rem;
}

.navsocials img {
    width: 2rem;
}

.copyright {
    margin-top: 0.75rem;
    color: #808080;
}

article {
    flex: 1;
    width: 100%;
    padding: 32px 0;
}

.nav_active {
    text-decoration: underline;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    /* margin-bottom: -16px; */
}

.gallery img {
    width: 100%;
    display: block;
}

.gallery_container {
    position: relative;
    width: 100%;
}

.gallery_overlay {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

.gallery_container:hover .gallery_overlay {
    opacity: 1;
}

.gallery_text {
    color: white;
    font-weight: bold;
    /* text-shadow: 0 0 4px black; */
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    width: fit-content;

}

footer {
    display: none;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    color: #808080;

}

footer p {
    padding: 8px;
}

.footersocials {
    display: flex;
    align-items: center;
    margin: 4px;

}

.footersocials a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footersocials img {
    width: 2rem;
    height: auto;
    padding: 0;
    margin: 4px;
}

@media all and (max-width: 1279px) {
    .gallery {
        gap: 8px;
    }
    #container_margin {
    margin: 0;
    }
    #container {
        margin: 0;
        border-radius: 0;
    }
}

@media all and (max-width: 1023px) {
    #container {
        flex-direction: column;
        padding: 0;
    }
    #navbar {
        width: 100%;
        height: 3.5rem;
        padding: 0;
        text-align: left;
        display: flex;
        background-color: white;
        z-index: 1;
    }
    #navlogo {
        display: flex;
        padding-left: 16px;
        min-width: 13rem;
        height: 3.5rem;
    }
    #navlogo img {
        width: 2.5rem;
        margin: 0 0.5rem 0 0;
    }
    #navlogo p {
        margin: auto 0;
        font-size: 1.5rem;
    }
    .navlist {
    padding: 0;
    margin: auto 0 auto auto;
    }
    .navlist ul {
        display: flex;
        height: 3.5rem;
        padding: 0 8px;
    }
    .navlist a {
        height: 3.5rem;
        font-size: 1.25rem;
        padding: 0 8px;
        line-height: 3.5rem;
    }
    article {
        padding: 16px 16px 0 16px;
    }
    .navsocials {
        display: none;
    }
    .topdivider {
        display: block;
        margin: 0 16px;
        border: 1px solid #E6E6E6;
    }
    footer {
        display: flex;
    }
}

@media all and (max-width: 767px) {
    #navbar {
        flex-direction: column;
    }
    .navtop {
        justify-content: space-between;
        display: flex;
    }
    
    .hamburger {
        position: relative;
        width: 3.5rem;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
    }

    #menucheckbox:checked + .navtop .hamburger_box .top-bar {
        transform: translateY(8px) rotate(-45deg);
    }

    #menucheckbox:checked + .navtop .hamburger_box .middle-bar {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right;
    }

    #menucheckbox:checked + .navtop .hamburger_box .bottom-bar {
        transform: translateY(-8px) rotate(45deg);
    }

    .bar {
        background-color: black;
        height: 0.25rem;
        width: 1.5rem;
        position: absolute;
        transition: transform 0.2s cubic-bezier(.29, -0.52, 1, 1.88), opacity 0.2s ease;
    }

    .hamburger:hover .bar {
        background-color: #EB008B;
    }

    .top-bar {
        margin-bottom: 1rem;
    }

    .middle-bar {
    }

    .bottom-bar {
        margin-top: 1rem;
    }

    .navlist {
        width: 100%;
        background-color: white;
        padding: 0.5rem 0 1rem;
        display: none;
    }

    #menucheckbox:checked ~ .navlist {
        display: block;
    }

    .navlist ul {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .navlist a {
        text-align: center;
    }
}