.project_thumbnail_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 1rem;
}

.project_thumbnail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.project_thumbnail>img {
    width: 100%;
    aspect-ratio: 3 / 2;
    background-color: #808080;
    color: white;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

img::after {
  content: attr(alt);
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.project_thumbnail_title{
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .project_thumbnail:hover p{
    color: #EB008B;
} */

.project_thumbnail_description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp:1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 767px) {

    .project_thumbnail_grid {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
        margin-bottom: 1rem;
    }

    /* .project_thumbnail {
        margin-bottom: -1rem;
    } */

    .project_thumbnail img{
        margin-bottom: 0.25rem;
    }

    .project_thumbnail p {
        padding: 0 1rem;
    }

    .project_thumbnail_title{
        font-size: 1.125rem;
    }
}