.project_summary {
    display: flex;
    gap: 2rem;
}

.project_half {
    width: 100%;
}

.project_title {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-wrap: normal;
}

.project_type {
    color: #808080;
    /* font-size: 1.25rem; */
}

.project_description {
    max-width: 420px;
}

.project_linked {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.project_chapter {
    font-size: 1.25rem;
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#fullpage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-size: auto; */
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: rgba(0,0,0,0.9);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 0;
}

.gallery img {
    display: block;
}

img {
    width: 100%;
}

.gallery_container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery_container img {
    display: block;
}

.gallery_overlay {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
}

.gallery_container:hover .gallery_overlay {
    opacity: 1;
}

.gallery_text {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    width: fit-content;
}

.video_wrapper {
    width: 100%;
    /* aspect-ratio: 3 / 2; */
    background-color: #F5F5F5;
    color: #808080;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding: 0;
}

.crop_standard {
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.video_wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.grid_thick {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 0;
}

.grid_five {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.5rem;
    padding: 0;
}

.grid_two {
    grid-template-columns: repeat(2, 1fr);
}

.mobile_break {
    display: none;
}

@media all and (max-width: 1023px) {
    h2 {
        font-size: 1.25rem;
    }
    /* .project_type {
        font-size: 1rem;
    } */

    .gallery {
        gap: 2px;
    }
    .project_chapter {
        font-size: 1.125rem;
        font-weight: bold;
    }
    .project_linked p {
        padding: 0 1rem;
    }
    .mobile_padding {
        padding: 0 1rem;
    }
}

@media all and (max-width: 767px) {
    .project_summary {
        flex-direction: column;
        gap: 1rem;
    }
    .project_title {
        max-width: none;
    }
    .project_description {
        max-width: none;
    }
    /* article {
        gap: 1.25rem;
    } */
    .mobile_square {
        aspect-ratio: 1 / 1;
        object-fit: cover;
    }
    .mobile_ig {
        aspect-ratio: 3 / 4;
        object-fit: cover;
    }
    /* .grid_thick {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    } */
    .mobile_grid_one {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .mobile_grid_two {
    grid-template-columns: repeat(2, 1fr);
    }
    .mobile_grid_thin{
        grid-gap: 2px;
    }
    .mobile_break {
        display: inline;
    }
    .grid_five {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2px;
    }
}